* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    background-image: url(silueta-sombra-bosque-escena_1308-99396.webp);
    height: 99vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(226 215 215 / 98%);
    padding: 1% 2%;
    height: 70%;
    width: 30%;
    border-radius:25px ;
    border: ridge 3px rgb(255, 248, 248);
}


#screenContainer {
    background-color: rgb(148 233 205);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    height: 30%;
    font-size: 200%;
    border: solid 2px black;
    border-radius: 20px;
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    overflow-x: auto;
}

#keypad{
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    width:21% ;
    height: 21%;
    font-size: 4vw;
    border-radius:15%;
    cursor: pointer;
}

.operator {
    background-color: burlywood;
}

#cleaner {
    background-color: red;
}