* {
    margin: 0;
    
}

#container {
    background-image: url(silueta-sombra-bosque-escena_1308-99396.webp);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    background-color: rgb(250, 235, 215);
    margin: auto;
    padding: 20px;
    height: 70%;
    width: 30%;
    border-radius:25px ;
    border: ridge 3px rgb(255, 248, 248);
}

.table {
    padding: 0;
    height: 15%;
}

#screen {
    padding: 0;
    height: 30%;
    font-size: 200%;
    border: solid 2px black;
    border-radius: 20px;
}



.number button{
    background-color: white;

}

.operator {
    background-color: gray;
}

.calculator td button {
    display: block;
    margin: auto;
    font-size: 300%;
    padding: 0;
    width: 90%;
    height: 90%;
    border: groove 4px rgb(178 237 245);
    border-radius: 10px;
}

#cleaner {
    background-color: red;
}



